// typography
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:200,300,400,500,600,700,800,900&display=swap");

$font-family-base: "Roboto Slab", Serif;

// theme-colors map

$theme-colors: (
  "primary": #e91e63,
  "secondary": #303030,
  "error": #ce190c,
  "light": #343a40,
  "dark": #f8f9fa
);
// global
$body-bg: map-get($theme-colors, "secondary");
$body-color: map-get($theme-colors, "dark");

//input
$input-field-background-color: map-get($theme-colors, "light");

//checkbox, radio button, File, image colors
$checkbox-color: map-get($theme-colors, "primary");
$radio-color: map-get($theme-colors, "primary");
$input-type-file-background-color: map-get($theme-colors, "primary");
$input-type-image-background-color: map-get($theme-colors, "primary");

//table variables
$table-head-bg: map-get($theme-colors, "light");
$table-head-color: map-get($theme-colors, "primary");
$table-border-color: map-get($theme-colors, "light");
$table-striped-order: even;

//dialog color scheme
$color-scheme: dark;

@import "./../../assets/scss/theme.scss";
