.mat-autocomplete-panel {
    border: $ace-lib-autocomplete-border-color;
    box-shadow: $ace-lib-autocomplete-box-shadow;
    background-color: $ace-lib-autocomplete-background-color;

    .mat-option {
        @include hover() {
            color: $ace-lib-autocomplete-option-color;
            background-color: $ace-lib-autocomplete-option-background-color;
            .assign-image {
                background: $ace-lib-autocomplete-active-user-image-background;
            }
        }

        &.mat-active {
            color: $ace-lib-autocomplete-option-color;
            background-color: $ace-lib-autocomplete-option-background-color;
            .assign-image {
                background: $ace-lib-autocomplete-active-user-image-background;
            }
        }
        .assign-image {
            background: $ace-lib-autocomplete-option-user-image-background;
        }
    }
}
