mat-chip-list {
    .mat-chip {
        color: color-yiq($chip-background-color);
        background-color: $chip-background-color;
        border-radius: $chip-border-radius;
    
        @include border-solid($chip-border-width, $chip-border-color);
        
        @include hover-focus() {
            color: $chip-hover-focus-color;
            background-color: $chip-hover-focus-background-color;
        }
        &.mat-standard-chip .mat-chip-remove.mat-icon {
            font-size: 18px;
        }
        .mat-ripple-element {
            display: none;
        }
    }
}