.mat-datepicker-content {
    background-color: $ace-lib-datepicker-background-color;
    border-width: $ace-lib-datepicker-border-width;
    border-style: solid;
    border-color: $ace-lib-datepicker-border-color;
  
    .mat-calendar-header {
        .mat-calendar-controls {
            button {
                color: color-yiq($ace-lib-datepicker-control-btn-background-color);
                background-color: $ace-lib-datepicker-control-btn-background-color;
                @include hover-focus() {
                    outline: $ace-lib-datepicker-btn-outline-style;
                }
            }
            .mat-icon-button {
                border-radius: $ace-lib-datepicker-control-btn-border-radius;
                .mat-button-ripple {
                    display: none;
                }
            }
        }
    }
    .mat-calendar-content {
        .mat-calendar-table {
            .mat-calendar-table-header th {
                color: $ace-lib-datepicker-table-header-color;
                font-weight: $ace-lib-datepicker-table-header-font-weight;
            }
            .mat-calendar-body-active {
                background-color: $ace-lib-datepicker-date-focus-background-color;
                color: color-yiq($ace-lib-datepicker-date-focus-background-color);
            }
            .mat-calendar-body-cell-content {
                border-radius: $ace-lib-datepicker-table-cell-radius;
                &.mat-calendar-body-selected {
                    background-color: $ace-lib-datepicker-date-selected-background-color;
                    color: color-yiq($ace-lib-datepicker-date-selected-background-color);
                }
            }
        }
    }
  }
  