.mat-dialog-container {
  .dialog-title-container {
    .mat-dialog-title {
      line-height: $ace-lib-dialog-title-line-height;
      font-size: $ace-lib-dialog-title-font-size;
    }
    button {
      &.mat-icon-button {
        border-radius: 0;

        .mat-button-ripple {
          display: none;
        }
      }
      &.dialog-close {
        color: $ace-lib-dialog-title-close-button-color;
        background-color: transparent;
        border: 0;
        @include hover-focus() {
          color: $ace-lib-dialog-title-close-button-color-focus;
          outline: none;
        }
      }
    }
    .dialog-back-button {
      display: none;
    }
  }
  .dialog-actions-container,
  .mat-dialog-actions {
    .ace-btn {
      border-width: $ace-lib-dialog-actions-border-width;
      border-style: solid;
      border-radius: $ace-lib-dialog-actions-border-radius;
      &.ace-dialog-primary-action {
        background-color: $ace-lib-dialog-actions-primary-color;
        color: color-yiq($ace-lib-dialog-actions-primary-color);
        border-color: $ace-lib-dialog-actions-primary-color;

        @include hover-focus() {
          background-color: $ace-lib-dialog-actions-primary-color-hover;
          color: color-yiq($ace-lib-dialog-actions-primary-color-hover);
          border-color: $ace-lib-dialog-actions-primary-color-hover;
        }
      }
      &.ace-dialog-secondary-action {
        background-color: transparent;
        color: $ace-lib-dialog-actions-secondary-color;
        border-color: $ace-lib-dialog-actions-secondary-color;

        @include hover-focus() {
          background-color: $ace-lib-dialog-actions-secondary-color;
          color: color-yiq($ace-lib-dialog-actions-secondary-color);
          border-color: $ace-lib-dialog-actions-secondary-color;
        }
      }
      &.ace-dialog-cancel-action {
        background-color: transparent;
        color: $ace-lib-dialog-actions-cancel-color;
        border-color: $ace-lib-dialog-actions-cancel-color;

        @include hover-focus() {
          background-color: $ace-lib-dialog-actions-cancel-color;
          color: color-yiq($ace-lib-dialog-actions-cancel-color);
          border-color: $ace-lib-dialog-actions-cancel-color;
        }
      }
    }
  }
  
  aac-record-task-create {
    aac-record-task-multistep .task-form-row.taskForm-container {
        background-color: transparent;
    }
  }

  aac-file-uploader {
    .mat-slide-toggle {
      .mat-slide-toggle-bar {
        background-color: $body-color;
      }
      .mat-slide-toggle-thumb {
        background-color: theme-color("primary");
      }
    }
    .image-container .mat-input-element {
      background-color: transparent;
      border: none;
      width: 100%;
      color: $body-color;
    }
  }
}
