.mat-menu-panel {
    border: $ace-lib-menu-border-color;
    box-shadow: $ace-lib-menu-box-shadow;
    background-color: $ace-lib-menu-background-color;

    .mat-menu-content {
        .mat-menu-item {
            background: transparent;
            color: $ace-lib-menu-color;
            @include hover-focus() {
                color: $ace-lib-menu-hover-color;
                background-color: $ace-lib-menu-hover-background-color;
            }
        }
    }
}
