.mat-paginator {
  .mat-paginator-container {
    .mat-paginator-range-actions {
      button {
        &:not(:disabled):not(.disabled):enabled {
          color: $ace-lib-paginator-button-color;
          @include hover-focus() {
            color: $ace-lib-paginator-button-color-hover;
          }
        }
        &.disabled,
        &:disabled {
          opacity: $ace-lib-paginator-button-disabled-opacity;
        }

        &.mat-icon-button {
          border-radius: 0;
          background: transparent none;
          .mat-button-ripple {
            display: none;
          }
        }
      }
    }
  }
}
