mat-tooltip-component {
  .mat-tooltip {
    background-color: $tooltip-background-color;
    font-size: $tooltip-font-size;
    margin: $tooltip-margin;
    max-width: $tooltip-max-width;
    color: $tooltip-text-color;
  }
}
