mat-tooltip-component {
  .mat-tooltip {
    background-color: $ace-lib-tooltip-background-color;
    font-size: $ace-lib-tooltip-font-size;
    margin: $ace-lib-tooltip-margin;
    max-width: $ace-lib-tooltip-max-width;
    color: $ace-lib-tooltip-text-color;
  }
}
