/* DOCUMENT INFORMATION
	- Document: ace-lib-theme Theme
  - Version:  1.0.3
  - Content: Default variables for the theme.
*/

/* COLORS
	- Gray color variables.
*/

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

/* COLORS
	- Main theme color variables.
*/
$primary: #6200ee !default;
$secondary: #03dac6 !default;
$error: #b00020 !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

/* DEFAULT THEME COLORS MAP
	- primary
	- secondary
	- error
	- light
	- dark
*/

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "light": $light,
    "dark": $dark
  ),
  $theme-colors
);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 160 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

$spacer: 1rem !default;

/* ========== Color Scheme ========== */
$color-scheme: light !default; // possible values are 'light' or 'dark'


/* ========== BODY ========== */
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-900 !default;

/* ========== LINKS ========== */
//
// Style anchor elements.

$link-color: theme-color("primary") !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

/* ========== COMMON ========== */
//
// Define common padding and border radius sizes and more.

$border-width: 1px !default;
$border-color: $gray-300 !default;
$border-radius: 0 !default; //0.25rem
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;

/* ========== TYPOGRAPHY ========== */

$font-family-base: Arial, Helvetica, sans-serif !default;
$font-size-base: 1rem !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$text-muted: $gray-600 !default;

/* ========== TABLE ========== */

$ace-lib-table-cell-padding: 0.25rem !default;
$ace-lib-table-select-cell-width: 0 !default; // flex-grow values;
$ace-lib-table-color: $body-color !default;
$ace-lib-table-bg: null !default;
$ace-lib-table-accent-bg: rgba($black, 0.05) !default;
$ace-lib-table-hover-color: $ace-lib-table-color !default;
$ace-lib-table-hover-bg: rgba($black, 0.075) !default;
$ace-lib-table-active-bg: $ace-lib-table-hover-bg !default; // does not use anywhere.
$ace-lib-table-border-width: $border-width !default;
$ace-lib-table-border-color: $border-color !default;
$ace-lib-table-head-bg: $gray-200 !default;
$ace-lib-table-head-color: $gray-700 !default;
$ace-lib-table-striped-order: odd !default;
$ace-lib-table-caption-color: $text-muted !default; // does not use anywhere.

/* ========== FORM INPUTS ========== */
$ace-lib-input-label-font-weight: $font-weight-normal !default;

// Input fields, like text, textarea, select
$ace-lib-input-field-border-width: $border-width !default;
$ace-lib-input-field-border-color: $border-color !default;
$ace-lib-input-field-background-color: theme-color("light") !default;
$ace-lib-input-field-text-color: $body-color !default;
$ace-lib-input-field-disabled-background-color: darken(theme-color("light"), 5%) !default;
$ace-lib-input-field-background-color-focus: $ace-lib-input-field-background-color !default;
$ace-lib-input-field-border-color-focus: theme-color("primary") !default;
$ace-lib-input-field-border-radius: $border-radius !default;
$ace-lib-input-field-placeholder-color: theme-color("primary") !default;

// Checkbox
$ace-lib-checkbox-border-width: $border-width !default;
$ace-lib-checkbox-color: theme-color("secondary") !default;

// Radio button
$ace-lib-radio-button-border-width: $border-width !default;
$ace-lib-radio-button-color: theme-color("secondary") !default;

// input field errors
$ace-lib-input-field-error-border-color: theme-color("error") !default;
$ace-lib-input-field-error-text-color: theme-color("error") !default;
$ace-lib-input-field-error-font-size: 85% !default;

// Specific field types

//email field
$input-type-email-display-send-mail-button: false !default;
//lookup field
$input-type-lookup-display-open-record-button: false !default;
$input-type-lookup-display-search-record-button: true !default;
$input-type-lookup-display-search-record-button-color: $gray-600 !default;
//file field
$input-type-file-background-color: theme-color("secondary") !default;
$input-type-file-border-color: $input-type-file-background-color !default;
$input-type-file-border-width: $border-width !default;
$input-type-file-border-radius: $border-radius !default;
// image field
$input-type-image-background-color: theme-color("secondary") !default;
$input-type-image-border-color: $input-type-image-background-color !default;
$input-type-image-border-width: $border-width !default;
$input-type-image-border-radius: 50% !default;

//button variables
$ace-lib-btn-padding: 0.5rem 0.75rem !default;
$ace-lib-btn-white-space: null !default; //  Set to `nowrap` to prevent text wrapping
$ace-lib-btn-line-height: $line-height-base !default;
$ace-lib-btn-border-width: $border-width !default;
$ace-lib-btn-disabled-opacity: 0.65 !default;
$ace-lib-btn-border-radius: $border-radius !default; // Allows for customizing button radius independently from global border radius

/* ========== AUTO COMPLETE ========== */
// Used in lookup fields, multi select picklists, etc.
$ace-lib-autocomplete-border-color: $border-color !default;
$ace-lib-autocomplete-box-shadow: $box-shadow !default;
$ace-lib-autocomplete-background-color: $body-bg !default;
$ace-lib-autocomplete-option-color: color-yiq(darken(theme-color("primary"), 7.5%)) !default;
$ace-lib-autocomplete-option-background-color: darken(theme-color("primary"), 7.5%) !default;
$ace-lib-autocomplete-option-user-image-background: $gray-600;
$ace-lib-autocomplete-active-user-image-background: transparent !default;

/* ========== TAB ========== */
$ace-lib-tablist-header-border-width: 0 0 $border-width 0 !default; // top right bottom left
$ace-lib-tablist-header-border-color: transparent transparent $border-color transparent !default;
$ace-lib-tablist-header-tab-focused-background-color: transparent !default; // does not used anywhere.
$ace-lib-tablist-header-tab-focused-color: theme-color("primary") !default;
$ace-lib-tablist-header-tab-active-link-bar-color: theme-color("primary") !default;
$ace-lib-tablist-content-border-width: 0 0 0 0 !default; // top right bottom left
$ace-lib-tablist-content-border-color: $border-color !default;
$ace-lib-tablist-content-padding: 0 0 0 0 !default; // top right bottom left

/* ========== DATE PICKER ========== */
$ace-lib-datepicker-background-color: $body-bg !default;
$ace-lib-datepicker-border-width: $border-width !default;
$ace-lib-datepicker-border-color: $border-color !default;
$ace-lib-datepicker-control-btn-background-color: $body-bg !default;
$ace-lib-datepicker-btn-outline-style: $ace-lib-btn-border-width auto theme-color("primary") !default;
$ace-lib-datepicker-control-btn-border-radius: $border-radius !default;
$ace-lib-datepicker-table-cell-radius: $border-radius !default;
$ace-lib-datepicker-table-header-color: $body-color !default;
$ace-lib-datepicker-table-header-font-weight: $font-weight-normal !default;
$ace-lib-datepicker-date-focus-background-color: theme-color("dark") !default;
$ace-lib-datepicker-date-selected-background-color: theme-color("primary") !default;

/* ========== ACCORDION ========== */
$ace-lib-accordion-border-on-focus: $border-width solid theme-color("primary") !default;
$ace-lib-accordion-header-background-color: transparent !default;
$ace-lib-accordion-header-background-on-expansion: transparent !default;

/* ========== ELEMENT SPECIFIC ========== */

/* ========== ACE-RECORD-TABLE-VIEW ========== */
$ace-record-table-view-profilePic-border-radius: 50% !default;
$ace-record-table-view-actionMenu-btn-border-radius: 50% !default;
$ace-record-table-view-loadmore-background-color: $body-bg !default;
$ace-record-table-view-actionMenu-btn-background-color: transparent !default;
$ace-record-table-view-actionMenu-btn-color: $body-color !default;

/* ========== ACE-RECORD-TASK-VIEW ========== */
$ace-record-task-view-header-btn-border-radius: 50% !default;
$ace-record-task-view-header-font-size: $h2-font-size !default;
$ace-record-task-view-subheader-font-size: $h3-font-size !default;

/* ========== ACE-RECORD-PROCESS ========== */
$ace-record-process-header-font-size: $h2-font-size !default;

/* ========== ACE-RECORD-ATTACHMENT ========== */
$ace-record-attachment-item-color: $body-color !default;
$ace-record-attachment-item-delete-btn-color: theme-color("primary") !default;
$ace-record-attachment-header-font-size: $h2-font-size !default;
$ace-record-attachment-item-background-color: transparent !default;
$ace-record-attachment-item-hover-color: color-yiq(lighten(theme-color("primary"), 7.5%)) !default;
$ace-record-attachment-item-hover-background-color: lighten(theme-color("primary"), 7.5%) !default;

/* ========== ACE-ROLE-SWITCHER ========== */
$ace-role-switcher-list-background-color-focus: theme-color("light") !default;
$ace-role-switcher-list-border-focus: $border-width solid theme-color("primary") !default;
$ace-role-switcher-list-active-item-background-color: theme-color("primary") !default;

/* ========== ACE-RECORD-ACTIONS ========== */
$ace-record-action-list-border-focus: $border-width solid theme-color("primary") !default;
$ace-record-action-list-background-color-focus: theme-color("light") !default;

/* ========== ACE-OBJECT-VIEWS-LIST ========== */
$ace-object-views-list-border-focus: $border-width solid theme-color("primary") !default;
$ace-object-views-list-background-color-focus: theme-color("light") !default;

/* ========== ACE-APP-TABS-LIST ========== */
$ace-app-tabs-list-background-color-focus: theme-color("light") !default;
$ace-app-tabs-list-border-focus: $border-width solid theme-color("primary") !default;
$ace-app-tabs-list-active-item-background-color: theme-color("primary") !default;

/* ========== ACE-ACTIVITY-HISTORY ========== */
$ace-activity-history-date-color: theme-color("primary") !default;
$ace-activity-history-timeline-divider-color: theme-color("primary") !default;
$ace-activity-history-icon-border-radius: 50% !default;
$ace-activity-history-time-line-color: theme-color("primary") !default;
$ace-activity-history-image-border-color: theme-color("primary") !default;
$ace-activity-history-image-box-shadow-color: theme-color("primary") !default;


/* ========== ACE-RELATED-INFO ========== */
$ace-related-info-header-background: transparent !default;
$ace-related-info-header-text-color: inherit !default;

/* ========== ACE-VIEW-CONFIG ========== */
$ace-view-config-filter-section-background: transparent !default;
$ace-view-config-add-new-filter-button-color: theme-color("primary") !default;
$ace-view-config-remove-filter-button-color: theme-color("primary") !default;
$ace-view-config-filter-toggle-button-background: theme-color("primary") !default;

/* ========== ACE-USER-PROFILE ========== */
$ace-user-profile-font-size: $font-size-base !default;
$ace-user-profile-font-weight: $font-weight-lighter !default;
$ace-user-profile-text-transform: uppercase !default;

/* ========== COMMON ========== */

/* ========== MENU ========== */
$ace-lib-menu-border-color: $border-color !default;
$ace-lib-menu-box-shadow: $box-shadow !default;
$ace-lib-menu-background-color: $body-bg !default;
$ace-lib-menu-color: $body-color !default;
$ace-lib-menu-hover-background-color: darken(theme-color("primary"), 7.5%) !default;
$ace-lib-menu-hover-color: color-yiq($ace-lib-menu-hover-background-color) !default;

/* ========== CHIPS ========== */
$ace-lib-chip-background-color: theme-color("primary") !default;
$ace-lib-chip-border-width: 0 0 0 0 !default;
$ace-lib-chip-border-color: $border-color !default;
$ace-lib-chip-border-radius: 16px !default;
$ace-lib-chip-hover-focus-background-color: darken($ace-lib-chip-background-color, 7.5%);
$ace-lib-chip-hover-focus-color: color-yiq(darken($ace-lib-chip-background-color, 7.5%));

/* ========== DIALOGS ========== */
$ace-lib-dialog-title-font-size: $h4-font-size !default;
$ace-lib-dialog-title-line-height: $line-height-base !default;
$ace-lib-dialog-title-close-button-color: $body-color !default;
$ace-lib-dialog-title-close-button-color-focus: theme-color("primary") !default;
$ace-lib-dialog-actions-border-width: $border-width !default;
$ace-lib-dialog-actions-border-radius: $border-radius !default;
$ace-lib-dialog-actions-primary-color: theme-color("primary") !default;
$ace-lib-dialog-actions-primary-color-hover: darken($ace-lib-dialog-actions-primary-color, 15%) !default;
$ace-lib-dialog-actions-secondary-color: $ace-lib-dialog-actions-primary-color !default;
$ace-lib-dialog-actions-cancel-color: theme-color("dark") !default;

/* ========== DIVIDER ========== */
$ace-lib-divider-color: $border-color !default;

/* ========== PAGINATOR ========== */
$ace-lib-paginator-button-color: theme-color("primary") !default;
$ace-lib-paginator-button-color-hover: darken(theme-color("primary"), 20%) !default;
$ace-lib-paginator-button-disabled-opacity: $ace-lib-btn-disabled-opacity !default;

/* ========== PROGRESSBAR ========== */
$ace-lib-progressbar-complete-color: theme-color("primary") !default;
$ace-lib-progressbar-buffer-color: scale-color(theme-color("primary"), $lightness: 60%) !default;

/* ========== TOOLTIP ========== */
$ace-lib-tooltip-background-color: theme-color("dark") !default;
$ace-lib-tooltip-text-color: theme-color("light") !default;
$ace-lib-tooltip-font-size: 80% !default;
$ace-lib-tooltip-max-width: 100% !default;
$ace-lib-tooltip-margin: 0 0 0 0 !default;

