ace-role-switcher {
    div.ace-theme {
        .ace-list-item {
            button {
                @include hover-focus() {
                    outline: none;
                    border: $role-switcher-list-border-focus;
                    background-color: $role-switcher-list-background-color-focus;
                    color: color-yiq($role-switcher-list-background-color-focus);
                }
            }
        }
        .ace-list-item.active-item {
            background-color: $role-switcher-list-active-item-background-color;
            color: color-yiq($role-switcher-list-active-item-background-color);
        }
    }
}