ace-record-actions {
    div.ace-theme {
        .actions-list {
            li {
                @include hover-focus() {
                    border: $record-action-list-border-focus;
                    background-color: $record-action-list-background-color-focus;
                    color: color-yiq($record-action-list-background-color-focus);
                }
            }
        }
    }
}