ace-object-views-list {
    div.ace-theme {
        .ace-list-item.view-Info {
            @include hover-focus() {
                border: $views-list-border-focus;
                background-color: $views-list-background-color-focus;
                color: color-yiq($views-list-background-color-focus);
            }
        }
    }
}