ace-record-task-view {
    .header-container {
        h2 {
            font-size: $record-task-header-font-size;
        }
        button {
            border-radius: $record-task-header-btn-border-radius;
        }
    }
    .sidePanel-componet-body {
        .mat-subheader {
            h3 {
                font-size: $record-task-subheader-font-size;
            }
        }
        .task-action-button {
            button:not(:last-child) {
                margin-right: 4px;
            }
        }
    }
}