ace-related-info {
  .new-record-button {
    .mat-paginator-outer-container {
      background: $ace-related-info-header-background;
      color: $ace-related-info-header-text-color;
    }
  }
  .table-container mat-table.mat-table.table-border mat-header-row.mat-header-row .mat-header-cell.aac-table-item {
    display: flex;
  }
  .table-paginator.mat-paginator {
    background-color: transparent;
  }
}
