ace-view-configuration {
    .custom-toggle .mat-button-toggle.mat-button-toggle-checked {
        background: $view-config-filter-toggle-button-checked-color;
        color: color-yiq($view-config-filter-toggle-button-checked-color);
    }
    .custom-toggle .mat-button-toggle {
        border: 1px solid $view-config-filter-toggle-button-unchecked-color;
        border-radius: 4px;
    }
    .wrapper .line {
        background: $view-config-filter-line-color;
    }
    .body-container .filter-section {
        background: $filter-section-background;
    }
    .form-container .mat-icon-button {
        color: $add-new-filter-button-color;
    }
    .date-filter-section .remove-button {
        background: $remove-filter-button-color;
        color: color-yiq($remove-filter-button-color);
    }
    .mat-dialog-content .mat-tab-body-wrapper {
        background: transparent;
    }
}