aac-activity-history {
    .date-style {
      color: $activity-history-date-color;
    }
    
    .time-line-container:before {
      border-right: 4px solid $activity-history-time-line-color;
    }
    .timeline-divider {
      border: 7px solid $activity-history-mat-divider-color;
    }
    .timeline-icon {
      border: 1px solid $activity-history-image-border-color;
      width: 32px;
      height: 32px;
      border-radius: $activity-history-icon-border-radius;
      .icon-elem {
        border-radius: $activity-history-icon-border-radius;
        margin-top: 3px;
      }
    }
    .timeline-image {
      box-shadow: 1px 1px 1px 0px $activity-history-image-box-shadow-color;
    }
  }
  